* {
   box-sizing: border-box; 	
}

html {
       
        scroll-behavior: smooth;
}

@keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
}

@keyframes leftIn {
        from {width: 0%;}
        to {width: fit-content ;}
}

@keyframes unfold {
  from {height: 0%;}
  to {height: fit-content;}
}

@keyframes childDown {
  from {height: 0%;}
  to {height: 100%;}
}

ul {
  padding: 0;
  margin: 0;
}


body {

      animation: fadeIn 2s ease-in-out;
      z-index: 0;
      padding: 0;
      margin: 0;

}

a {
  text-decoration: none;
  color: white;
}
.protest-revolution-regular {
    font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  

.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 800;
    font-style: normal;
  }
  
  .cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }
/* ############################################# */
/* ONLY MOBILE */
/* ############################################# */
.headers {
  background-color: rgb(65, 79, 69);
  display: flex;
  align-items: baseline;
  padding: 1rem;
  list-style: none;
  color: aliceblue;
  height: fit-content;
  
  font-size: 1.2rem;
  z-index: 0;
}


.headers svg {
  color: white;
  width: 1.5rem;
  
  background-color: aliceblue;
  border: solid rgb(245, 242, 242, 0.3) 3px;
}


.nested_headers {
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(65, 79, 69);
  z-index: 998;
  width: 100vw;
  height: 100vh;


}

.nested_headers ul {
color: white;
width: fit-content;
  list-style: none;
 
  margin: 0;
}

.nested_headers li {
 margin: 1rem;
 font-size: 3rem;
 position: relative;
 right: 1rem;
 
 
}

.nested_headers hr {
  width: 6rem;

}
.close_header {
 padding: 0.5rem;
 margin-left: 70%;
  border-radius: 100%;
  border: solid black 1px;
}

.nested_sections1 {
  
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(65, 79, 69);
  z-index: 997;
  width: 100vw;
  height: 100vh;

}
.nested_sections2 {
  
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(65, 79, 69);
  z-index: 996;
  width: 100vw;
  height: 100vh;

}
.nested_sections3 {
  
  animation: fadeIn 1s ease-in-out;
  background-color: rgb(65, 79, 69);
  z-index: 995;
  width: 100vw;
  height: 100vh;

}
.nested_sections4 {
  

  animation: fadeIn 1s ease-in-out;
  background-color: rgb(65, 79, 69);
  z-index: 994;
  width: 100vw;
  height: 100vh;

}
.close_section {
  padding: 0.5rem;
  margin-left: 9rem;
}

/* ######################################### */
/* MOBILE AND DESKTOP */
/* ######################################### */
.sections {
    display: none;
} 

.sub_headers {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: rgb(65, 79, 69);
  gap: 1rem;
  font-size: 80%;

}

.sub_headers:hover {
    cursor: pointer;
}
.sub_sections:hover {
  color: black;
  
}
.blocks {
  display: grid;
  justify-content: center;
  justify-items: center;
  margin: 3rem;
  
}
span {
  border-radius: 2%;
  max-width: 15rem;
  border: solid rgb(170, 170, 170,0.7) 1px;
  margin: 1rem;
}

span:hover {
 
  zoom: 1.05;
  border: solid rgb(65, 79, 69) 3px;
 
}

img {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 1%;
  height: 10rem;
  width: 15rem;
}
.centered {
  padding: 1rem;
  margin: 0;
  
}

.viewers {
  list-style: none;
  display: flex;
  font-size: 60%;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0;
  align-items: baseline;
}


.publishing {
 margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  font-size: 50%;
  list-style: none;
  gap: 1rem;
}
.publishing svg {
  width:0.8rem; 
}

svg:hover {
  cursor:pointer; opacity: 0.5;
}

.heart {
  margin-left: 4rem;
}

.child {
  
  white-space: wrap;
  position: sticky;
  right: auto;
  width: fit-content;
  height: fit-content;
  list-style: none;
  
  width: 100%;
  background-color: rgb(65, 79, 69);

}


.child li {
  
  list-style: none;
  white-space: wrap;
  font-size: 0.7rem;
  line-height: 3rem;
  position: relative;
  right: 2rem;

}


.child li:hover {
 text-decoration: underline;
 
}

@keyframes slide-in {
  from {transform: translate(0%);}
  to {transform: translate(100%);}
}
@keyframes slide_out {
  from {transform: translate(100%);}
  to {transform: translate(0%);}
}

/*#################################  */
/* Mobile pannel 1 */


.mobile_panel1 {
  /* animation: slide-out 2s ease-in-out; */
  animation: fadeIn 1s ease-in-out;

  width: fit-content;
  height: fit-content;
  z-index: 999;
  position: absolute;
  right: 5rem;

}

.mobile_panel1 ul {
  background-color: white;
  list-style: none;
 
 

}

.mobile_panel1 li {
font-size: 1rem;
padding: 1rem;
position: relative;
right: 2rem;
border: solid black 1px;
}

.mobile_panel1 li:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

/* ############################### */
/* Mobile Pannel2 */
.mobile_panel2 {
  /* animation: slide-out 2s ease-in-out; */
  animation: fadeIn 1s ease-in-out;

  width: fit-content;
  height: fit-content;
  z-index: 999;
  position: absolute;
  right: 5rem;

}

.mobile_panel2 ul {
  background-color: white;
  list-style: none;
 
 

}

.mobile_panel2 li {
font-size: 1rem;
padding: 1rem;
position: relative;
right: 2rem;
border: solid black 1px;
}

.mobile_panel2 li:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

/* ####################################### */
/* Mobile_panel3 */
.mobile_panel3 {
  /* animation: slide-out 2s ease-in-out; */
  animation: fadeIn 1s ease-in-out;

  width: fit-content;
  height: fit-content;
  z-index: 999;
  position: absolute;
  right: 5rem;

}

.mobile_panel3 ul {
  background-color: white;
  list-style: none;
 
 

}

.mobile_panel3 li {
font-size: 1rem;
padding: 1rem;
position: relative;
right: 2rem;
border: solid black 1px;
}

.mobile_panel3 li:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

/* ####################################" */
/* Mobile pannel4 */
.mobile_panel4 {
  /* animation: slide-out 2s ease-in-out; */
  animation: fadeIn 1s ease-in-out;

  width: fit-content;
  height: fit-content;
  z-index: 999;
  position: absolute;
  right: 5rem;

}

.mobile_panel4 ul {
  background-color: white;
  list-style: none;
 
 

}

.mobile_panel4 li {
font-size: 1rem;
padding: 1rem;
position: relative;
right: 2rem;
border: solid black 1px;
}

.mobile_panel4 li:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}

/* #####################################*/
/* Mobile pannel 5 */

.mobile_panel5 {
  /* animation: slide-out 2s ease-in-out; */
  animation: fadeIn 1s ease-in-out;


  width: fit-content;
  height: fit-content;
  z-index: 999;
  position: absolute;
  right: 5rem;

}

.mobile_panel5 ul {
  background-color: white;
  list-style: none;
 
 

}

.mobile_panel5 li {
font-size: 1rem;
padding: 1rem;
position: relative;
right: 2rem;
border: solid black 1px;
}

.mobile_panel5 li:hover {
  cursor: pointer;
  background-color: black;
  color: aliceblue;
}



/* ###################################" */
/* ####################################" */
@media screen and (min-width: 768px), (max-width: 1024) {

@keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
}

@keyframes leftIn {
        from {width: 0%;}
        to {width: fit-content;}
}

body {
      padding: 0;
      margin: 0;
      animation: fadeIn 2s ease-in-out;
      z-index: 9999;

}

.protest-revolution-regular {             
  font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
  }


.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

 .cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }


  .title_big_screen {
    display: block;
   
  }
  .mobile_header {
    display: none;
  }



  .headers {
    background-color: rgb(65, 79, 69);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    list-style: none;
    color: aliceblue;
    height: fit-content;
    padding: 0;
    font-size: 1.8rem;
  }
  
  .sections {
    display: block;
  }
  .sections:hover {
    
    
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
   
  } 
  
  .sub_headers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    color: rgb(65, 79, 69);
    gap: 1rem;
    font-size: 1rem;
    
  }
  
  .sub_headers:hover {
      cursor: pointer;
  }
  .blocks {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 3rem;
    
  }
  span {
    display: flex;
    justify-content: center;
    border-radius: 2%;
    max-width: fit-content;
    border: solid rgb(170, 170, 170,0.7) 1px;
    margin: 2rem;
  }
  
  span:hover {
    
    cursor: pointer;
  }
  
  img {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 1%;
    height: 100%;
    width: 50%;
  }
  .centered {
  
    padding: 1rem;
    margin: 0;
    
    
  }
  
  .viewers {
    list-style: none;
    display: flex;
    font-size: 100%;
    justify-content: flex-start;
    gap: 1rem;
    padding: 0;
    align-items: baseline;
  }

  
  .publishing {
   margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 50%;
    list-style: none;
    gap: 1rem;
  }
  svg {
    width:1.2rem; 
  }
  
  svg:hover {
    cursor:pointer; opacity: 0.5;
   
  }
  
  
  .heart {
    margin-left: auto;
  }
  
  h4 {
    font-size: 1rem;
  }
  h5 {
    font-size: 0.8rem;
  }
  h6 {
    font-size: 0.6rem;
  }
  
.child {
  
   width: fit-content;
   list-style: none;
 
   width: 100%;
   background-color: rgb(65, 79, 69);
 
 }
 .child li {

   list-style: none;
   white-space: wrap;
   font-size: 2rem;
   line-height: 3rem;
   position: relative;
   right: 2rem;
 
 }
 
 
 .child li:hover {
  text-decoration: underline;
 }
 


}


/* #####################################*/

@media screen and (min-width: 1025px) {

@keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
}

@keyframes leftIn {
        from {width: 0%;}
        to {width: fit-content;}
}

body {
      padding: 0;
      margin: 0;
      animation: fadeIn 2s ease-in-out;
      z-index: 9999;

}

.protest-revolution-regular {                                      
     font-family: "Protest Revolution", sans-serif;
    font-weight: 800;
    font-style: normal;
  }


.satisfy-regular {
    font-family: "Satisfy", cursive;
    font-weight: 400;
    font-style: normal;
  }

 .cinzel-regular {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .marcellus-regular {
    font-family: "Marcellus", serif;
    font-weight: 400;
    font-style: normal;
  }

  .title_big_screen {
    display: block;
   
  }
  .title_small_screen {
    display: none;
    overflow: hidden;
    
  }
  .headers {
    background-color: rgb(65, 79, 69);
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    list-style: none;
    color: aliceblue;
    height: 6rem;
    padding: 0;
    font-size: 1.5rem;
    
  }

  .mobile_header {
    display: none;
  }
  .sections {
    display: block;
  }
  .sections:hover {
    cursor: pointer;
    animation: fadeIn 0.5s ease-in-out;
  } 
  
  .sub_headers {
    display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
    color: rgb(65, 79, 69);
    gap: 2rem;
    font-size: 1rem;
  
  }
  
  .sub_headers:hover {
      cursor: pointer;
  }
  .blocks {
    display: grid;
    justify-content: center;
    justify-items: center;
    margin: 1rem;
    
  }
  span {
    display: flex;
    justify-content: center;
    border-radius: 2%;
    max-width: fit-content;
    border: solid rgb(170, 170, 170,0.7) 3px;
    margin: 1rem;
    width: 100%;
    height: 80%;
  }
  
  span:hover {
   
    cursor: pointer;
  }
  
  img {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 1%;
    height: 100%;
    width: 20rem;
    border: solid rgb(170, 170, 170,0.7) 1px;
  }
  .centered {
  
    padding: 2rem;
   
    margin: 0;
    
    
  }
  hr {
    white-space: 10%;
  }
  
  .viewers {
    list-style: none;
  display: flex;
 

  }

  
  .publishing {
   margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    font-size: 80%;
    list-style: none;
    gap: 1rem;
  }
  svg {
    width:1.2rem; 
  }
  
  svg:hover {
    cursor:pointer; opacity: 0.5;
  }
  
  .heart {
    margin-left:50%;
  }

  .heart:hover {
    cursor: pointer;
    opacity: 0.7;
    background-color: grey;
    border-radius: 100%;
  }
  
  h4 {
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1rem;
  }
  h6 {
    font-size: 0.8rem;
  }

  .child {
    position: relative;
    right: 1rem;
    width: fit-content;
    list-style: none;
    margin: 1rem;
    width: 80%;
    background-color: rgb(65, 79, 69);
  
  }
  .child li {
 
    list-style: none;
    
    white-space: wrap;
    font-size: 1.5rem;
    line-height: 3rem;
    position: relative;
    right: 2rem;
  
  }
  
  
  .child li:hover {
  
   text-decoration: underline;
  }
  
}





